.Profile {
    display:flex;
    flex-direction: row;
}

.UserContent {
    width: 40vw;
    height: 94vh;

    display: flex;
    flex-direction: column;
    
    background: rgb(151,83,184);
    background: -moz-linear-gradient(90deg, rgba(151,83,184,1) 1%, rgba(83,138,184,1) 20%, rgba(83,138,184,1) 50%, rgba(83,138,184,1) 80%, rgba(151,83,184,1) 99%);
    background: -webkit-linear-gradient(90deg, rgba(151,83,184,1) 1%, rgba(83,138,184,1) 20%, rgba(83,138,184,1) 50%, rgba(83,138,184,1) 80%, rgba(151,83,184,1) 99%);
    background: linear-gradient(90deg, rgba(151,83,184,1) 1%, rgba(83,138,184,1) 20%, rgba(83,138,184,1) 50%, rgba(83,138,184,1) 80%, rgba(151,83,184,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9753b8",endColorstr="#9753b8",GradientType=1);

}

.StockHistory {
    display: flex;
    flex-direction: column;

    row-gap: 5vh;

    overflow-y: auto;
}

.Button {
    width: 10vw;
}