.Home {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height:94vh;

    
    
}


.Content {
    width: 40vw;
    height: 94vh;

    overflow-y: hidden;
    text-align: left;

    background-color: rgba(151,83,184,1);
}

.Image {
    width: 32vw;
 
    height: 75.2vh;
}

.CarouselDiv {
    text-align: center;
    font-size: calc(1vw + 1vh);
}