.Home {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height:94vh;
    
}


.Content {
    width: 40vw;
    height: 94vh;

    background-color: rgb(206, 150, 150);

    text-align: left;
}