.Navbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    background-color: #a9d1b7;
    
    height: 6vh;
    width: 100vw;
}

.Option {
    width: 7vw;
    text-align: left;
    cursor: pointer;


    font-size: 2.5vh;
}

.OptionContainer {
    width: 7vw;
}

.LoginRegisterContainer {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    width: 14vw;

    justify-content: flex-end;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Logo {
    height: 100%;
    width: 10%;

    cursor: pointer;
}