
.ContentContainer {
    width:30vw;
    height: 100%;
    background-color: rgba(30, 155, 68, 0.479);
}

.Stock {
    display: flex;
    flex-direction: row;
    height: 94vh;
    justify-content: space-evenly;   
}

.ModalContainer {
   
    position: absolute;
    background-color: grey;
    width: 40vw;
    height: 30vh;

    margin-left:30vw;
    margin-top: 20vh;

}

.Modal {
    color: white;
    text-align: center;
}

.OptionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
    justify-content: center;
    height: 5%;

}

.Option {
    border: 1px solid black;
    cursor: pointer;
    width:80%
}

.OptionType {
    border: 1px solid black;
    width: 50%;
    text-align: center;
}

.PulledOptions {

    display: flex;

    width:40vw;
    height: 100%;
    background-color: rgba(35, 145, 71, 0.479);
    
    justify-content: left;



}


.container {
    height:100%;
    overflow-y: hidden;
}

.StockData {
    height:45%;
    overflow-y: auto;
}

.DescriptionContainer {
    width: 50%;
    overflow-y:auto;

    display: flex;
    flex-direction: column;


    
}

.OptionDetailsContainer {
    height:100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.Error {
    color: red;
}

.Amt {
    width: 2vw;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.StockPositions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    row-gap: 2vh;
    width: 80%;
}

